CONFIG proxy.config.http.server_ports STRING 8080
CONFIG proxy.config.reverse_proxy.enabled INT 1
CONFIG proxy.config.url_remap.remap_required INT 1
CONFIG proxy.config.http.parent_proxy_routing_enable INT 1
CONFIG proxy.config.http.cache.http INT 0
CONFIG proxy.config.log.logging_enabled INT 3
CONFIG proxy.config.diags.debug.enabled INT 1
CONFIG proxy.config.diags.debug.tags STRING http|dns|hostdb|parent_select

